// Specific CSS for your home-page
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica', Arial, sans-serif;
}

.header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-text {
    text-align: center;
  }
}
