// Specific CSS for your home-page
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  // background-color: #101019;
  // background-color: rgb(32, 32, 43);

  background: linear-gradient(324deg, rgba(25, 25, 25, 0.9) 0%, rgba(25, 25, 25, 1)  100%);
  // background: rgb(0,109,119);
  // background: linear-gradient(324deg, rgba(29,53,87,1) 0%, rgba(0,109,119,1) 100%);
  color: #edf6f9;
  -webkit-font-smoothing: antialiased;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
}

@keyframes particleAnimation
{
    from {
        left: -100px;
    }
    to {
        left: calc( 100% + 100px );
    }
}

.p{
  position:fixed;
  left:0px;
  top:50px;
  width:1px;
  height:1px;
  background-color:white;
  position:fixed;
  animation-name:particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.p::before{
  position:absolute;
  display:block;
  content:"";
  width:100px;
  right:1px;
  top:0px;
  height:1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255,255,255,0.4) 100%); 
}
.p_1{
  animation-duration:10s;
}
.p_2{
  animation-duration:5s;
  top:60%;
}
.p_3{
  animation-duration:20s;
  top:90%;
}

.header {
  padding-top: 80px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  .header-text {
    // text-align: center;
    width: 100%;
    padding: 2em;

    display: flex;
    align-items: center;

    .header-left {
      text-align: right;
      width: 60%;
      padding-right: 2em;
      border-right: 1px #edf6f9 solid;
    }

    .header-right {
      text-align: left;
      width: 40%;
    }

    h1 {
      font-size: 6.5em;
    }
    p {
      font-size: 1.1em;
      padding: 0em 4em 0 2em;
    }
  }
}

@media (max-width:860px) {
  .header {
    .header-text {
      h1 {
        font-size: 4em;
      }
    }
  }
}

@media (max-width:600px) {
  .header {
    .header-text {
      display: block;

      .header-left, .header-right {
        width: 100%;
        padding: 0;
        // text-align: center;
        border: none;
      }

      h1 {
        font-size: 2.8em;
        // padding-bottom: 1em;
        border-bottom: 1px solid #edf6f9;
      }

      p {
        padding: 1em 0 0 0;
      }
    }
  }
}
