<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="#">Home</a>
    <a href="#projects">Projects</a>
    <a href="#cv">CV</a>
    <a href="#contact">Contact</a>
    <a href="https://www.linkedin.com/in/jessica-pring/" target="_blank">LinkedIn</a>
  </div>
</div>

<div class="content">
  <div class="p p_1"></div>
  <div class="p p_2"></div>
  <div class="p p_3"></div>

  <div class="header">

    <div class="header-text">
      <h1>JESSICA PRING</h1>
      <p>
        Hi! My name is Jess and I'm a London-based full stack web developer
      </p>
    </div>
  </div>

  <div id="projects">
    <h2>Projects</h2>

    <div class="project-card">
      <div class="main-card">
        <div class="project-image">
          <a href="http://www.thehealthyhairhub.com/" target="_blank">
            <%= image_tag('portfolio_3.png') %>
          </a>
        </div>
        <div class="info">
          <h3>The Healthy Hair Hub</h3>
          <p>
            Ruby on Rails project to promote
            learning about styling and caring
            for Afro Caribbean hair. Worked
            collaboratively with my team on
            both front and back end to deliver
            a beautiful web app in 9 days.
          </p>
        </div>
      </div>

      <div class="tech">
      
      </div>
    </div>

    <div class="project-card">
      <div class="main-card">
        <div class="project-image">
          <a href="https://opentoolbox-joshuaobura.herokuapp.com/" target="_blank">
            <%= image_tag('portfolio_2.png') %>
          </a>
        </div>
        <div class="info">
          <h3>Open Tool Box</h3>
          <p>
            Airbnb clone web app for
            temporary tool hire using Ruby,
            Ruby on Rails and JavaScript ES6. 
            Users can both list and rent tools 
            in their area.
          </p>
        </div>
      </div>

      <div class="tech">
      
      </div>
    </div>

    <div class="project-card">
      <div class="main-card">
        <div class="project-image">
          <a href="https://rails-mister-cocktail-jp.herokuapp.com/" target="_blank">
            <%= image_tag('portfolio_1.png') %>
          </a>
        </div>
        <div class="info">
          <h3>Mister Cocktail</h3>
          <p>
            Solo project for cocktail recipes
            using Ruby on Rails, HTML & SCSS, 
            deployed on Heroku with images hosted 
            on Cloudinary.
          </p>
        </div>
      </div>
      <div class="tech">
      
      </div>    
    </div>
  </div>

</div>

<div id="cv">
  <h2>CV</h2>
  <div class="cv-info">
    <div class="section-info row">
      <div class="col-md-3">
        <h5>Skills</h5>
      </div>
      <div class="col-md">
        Ruby
        <br>
        Ruby on Rails
        <br>
        JavaScript ES6
      </div>

      <div class="col-md">
        HTML
        <br>
        CSS
        <br>
        SQL & PostgreSQL
      </div>

      <div class="col-md">
        APIs
        <br>
        Git & GitHub
        <br>
        TDD
      </div>
    </div>

    <div class="section-info row">
      <div class="col-md-3">
        <h5>Education</h5>
      </div>
    
      <div class="col-md">
        Year
      </div>

    </div>
    <div class="section-info row">
      <div class="col-md-3">
        <h5>Work Experience</h5>
      </div>
    
      <div class="col-md">
        Year
      </div>

    </div>
  </div>
</div>

<div id="contact">
  <h2>Contact</h2>
  <div class="contact-info">
    <p>Get in touch with me!</p>
    <h5><a href="mailto:jessicapring@outlook.com" class="effect-shine">jessicapring@outlook.com</a></h5>
  </div>
</div>

<div class="footer">
  <!--
  <p>
    If I'm not up to my ears in code I can be found in a gallery or with my nose in a book.
  </p>
  -->
</div>
