#projects {
  margin-bottom: 10%;
  h2 {
    text-align: center;
    font-size: 2.2em;
    padding-top: 20px;
    // position: relative;
    // top: 30px;
  }
}

.project-card {
  min-height: 80vh;
  width: 80%;
  margin: 1em auto;
  display: flex;
  align-items: center;
}

.main-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-image {
  width: 50%;
  height: auto;
  img {
    width: 100%;
  }
}

.info {
  width: 40%;
  margin-top: 1em;
}

.tech {
  p {
    margin: 0;
    font-size: 14px;
  }
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.pink {
  background-color: #fe6a5e;
}

.yellow {
  background-color: #FFBE0B;
}

.blue {
  background-color: #50C9CE;
}

.green {
  background-color: #B14AED;
}



@media (max-width:600px) {
  .project-card {
    width: 90%;
    padding: 1em;
  }

  .main-card {
    flex-direction: column;
  }

  .project-image {
    width: 100%;
    height: auto;
    img {
      width: 100%;
    }
  }

  .info {
    width: 100%;
    h3 {
      text-align: center;
    }
  }
}

@media (max-width:350px) {
  #card-1 {
    margin-top: 20px;
  }
}
