#cv {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  h2 {
    padding-top: 50px;
    text-align: center;
  }
  .cv-info {
    padding-top: 5%;
  }
}

.section-info {
  margin-top: 3em;
}

.text-bold {
  font-size: 1em;
  font-style: italic;
}

#edu-row {
  min-height: 32px;
  margin-bottom: 0.2em;
}

#date {
  text-align: right;
}

@media (max-width:600px) {
  #date {
    text-align: left;
  }
}
