#cv {
  min-height: 100vh;
  width: 80vw;
  margin: 0 auto;
  h2 {
    padding-top: 50px;
    text-align: center;
  }
}

.section-info {
  margin-top: 2em;
}

@media (max-width:600px) {
  #cv {
    // width: 94vw;
    // margin: auto;
  }
}
